In [1]:
import pandas as pd 
import numpy as np

In [147]:
df = pd.read_csv('olist_products_dataset.csv')
df = df[['product_id','product_category_name','product_weight_g','product_length_cm','product_height_cm','product_width_cm']]
df.sort_values(by = 'product_id' , inplace = True)
df.reset_index(drop=True, inplace=True)
df

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00066f42aeeb9f3007548bb9d3f33c38,perfumaria,300.0,20.0,16.0,16.0
1,00088930e925c41fd95ebfe695fd2655,automotivo,1225.0,55.0,10.0,26.0
2,0009406fd7479715e4bef61dd91f2462,cama_mesa_banho,300.0,45.0,15.0,35.0
3,000b8f95fcb9e0096488278317764d19,utilidades_domesticas,550.0,19.0,24.0,12.0
4,000d9be29b5207b54e86aa1b1ac54872,relogios_presentes,250.0,22.0,11.0,15.0
...,...,...,...,...,...,...
32946,fff6177642830a9a94a0f2cba5e476d1,cool_stuff,1400.0,42.0,25.0,15.0
32947,fff81cc3158d2725c0655ab9ba0f712c,beleza_saude,58.0,16.0,16.0,11.0
32948,fff9553ac224cec9d15d49f5a263411f,fashion_bolsas_e_acessorios,150.0,16.0,13.0,11.0
32949,fffdb2d0ec8d6a61f0a0a0db3f25b441,informatica_acessorios,150.0,16.0,4.0,13.0
32950,fffe9eeff12fcbd74a2f2b007dde0c58,brinquedos,3900.0,43.0,16.0,11.0

In [137]:
df1 = pd.read_csv('olist_order_items_dataset.csv')
df1 = df1.drop_duplicates()
df2 = df1[['product_id','price']]
df2 = df2.groupby('product_id',sort = False)['price'].mean()
data = pd.DataFrame(df2)
data = data.sort_values(by = 'product_id')
data

                                   price
product_id
00066f42aeeb9f3007548bb9d3f33c38  101.65
00088930e925c41fd95ebfe695fd2655  129.90
0009406fd7479715e4bef61dd91f2462  229.00
000b8f95fcb9e0096488278317764d19   58.90
000d9be29b5207b54e86aa1b1ac54872  199.00
...                                  ...
fff6177642830a9a94a0f2cba5e476d1  114.99
fff81cc3158d2725c0655ab9ba0f712c   90.00
fff9553ac224cec9d15d49f5a263411f   32.00
fffdb2d0ec8d6a61f0a0a0db3f25b441   33.99
fffe9eeff12fcbd74a2f2b007dde0c58  249.99

[32951 rows x 1 columns]

In [175]:
Data = pd.merge(df,data.reset_index())
Data['product_category_name'].fillna('others',inplace = True)
Data.isna().any()

product_id               False
product_category_name    False
product_weight_g          True
product_length_cm         True
product_height_cm         True
product_width_cm          True
price                    False
dtype: bool

In [181]:
Category = Data[['product_category_name']].drop_duplicates()
Category.reset_index(drop=True, inplace=True)
br = Category.values

In [160]:
Category

       product_category_name
0                 perfumaria
1                 automotivo
2            cama_mesa_banho
3      utilidades_domesticas
4         relogios_presentes
..                       ...
69           casa_conforto_2
70                       pcs
71         cds_dvds_musicais
72  tablets_impressao_imagem
73        seguros_e_servicos

[74 rows x 1 columns]

In [184]:
english = pd.read_csv('product_category_name_translation.csv')
ar = english['product_category_name'].values

In [188]:
frame = pd.merge(Data,english)
frame

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,product_category_name_english
0,00066f42aeeb9f3007548bb9d3f33c38,perfumaria,300.0,20.0,16.0,16.0,101.650000,perfumery
1,005030ef108f58b46b78116f754d8d38,perfumaria,50.0,16.0,5.0,11.0,14.759231,perfumery
2,009c09f439988bc06a93d6b8186dce73,perfumaria,150.0,20.0,20.0,20.0,132.400000,perfumery
3,00baba5b58e274d0332a0c8a0a66f877,perfumaria,200.0,18.0,7.0,12.0,47.900000,perfumery
4,00c3e35b00dd00ab864d4a94c1b97e66,perfumaria,512.0,30.0,12.0,18.0,99.990000,perfumery
...,...,...,...,...,...,...,...,...
32946,ab0a97f604550b5b5b99180a6dc04461,tablets_impressao_imagem,150.0,60.0,11.0,11.0,14.900000,tablets_printing_image
32947,b29c1749f99da888ea322a01420d5220,tablets_impressao_imagem,1100.0,30.0,5.0,22.0,889.990000,tablets_printing_image
32948,fa9d34c32a70b4e50a4c2c8c2c42051f,tablets_impressao_imagem,100.0,16.0,6.0,14.0,29.990000,tablets_printing_image
32949,6c7a0a349ad11817745e3ad58abd5c79,seguros_e_servicos,1225.0,27.0,35.0,15.0,183.290000,security_and_services
32950,8db75af9aed3315374db44d7860e25da,seguros_e_servicos,400.0,26.0,22.0,11.0,100.000000,security_and_services

In [195]:
ratings = pd.read_csv('ratings.csv')
ratings

                             product_id  review_score
0      fd25ab760bfbba13c198fa3b4f1a0cd3      4.666667
1      be0dbdc3d67d55727a65d4cd696ca73c      3.764706
2      d1c427060a0f73f6b889a5c7c61f2ac4      4.213622
3      52c80cedd4e90108bf4fa6a206ef6b03      4.157895
4      3880d25d502b15b1de6fddc42ad1d67a      5.000000
...                                 ...           ...
32946  2381a3052dd37f97e616bf160467acae      5.000000
32947  6e29f8de1ad465c1fa275aae299fa98b      5.000000
32948  6160c6145b50c401702912baf0fd7de5      5.000000
32949  4fb209073dc2ab6a6d3c259a7c285501      5.000000
32950  54caa022e792f1ce31d4a656cecaa802      1.000000

[32951 rows x 2 columns]

In [228]:
frame1 = pd.merge(frame,ratings.reset_index())
frame1 = frame1.fillna(0)
frame1 = frame1.drop(columns={'product_category_name','index'})
frame1

,product_id,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,product_category_name_english,review_score
0,00066f42aeeb9f3007548bb9d3f33c38,300.0,20.0,16.0,16.0,101.650000,perfumery,5.000000
1,005030ef108f58b46b78116f754d8d38,50.0,16.0,5.0,11.0,14.759231,perfumery,4.615385
2,009c09f439988bc06a93d6b8186dce73,150.0,20.0,20.0,20.0,132.400000,perfumery,5.000000
3,00baba5b58e274d0332a0c8a0a66f877,200.0,18.0,7.0,12.0,47.900000,perfumery,4.166667
4,00c3e35b00dd00ab864d4a94c1b97e66,512.0,30.0,12.0,18.0,99.990000,perfumery,5.000000
...,...,...,...,...,...,...,...,...
32946,ab0a97f604550b5b5b99180a6dc04461,150.0,60.0,11.0,11.0,14.900000,tablets_printing_image,4.000000
32947,b29c1749f99da888ea322a01420d5220,1100.0,30.0,5.0,22.0,889.990000,tablets_printing_image,1.000000
32948,fa9d34c32a70b4e50a4c2c8c2c42051f,100.0,16.0,6.0,14.0,29.990000,tablets_printing_image,5.000000
32949,6c7a0a349ad11817745e3ad58abd5c79,1225.0,27.0,35.0,15.0,183.290000,security_and_services,4.000000
32950,8db75af9aed3315374db44d7860e25da,400.0,26.0,22.0,11.0,100.000000,security_and_services,1.000000

In [249]:
def gen_product_names(cat_name,product_id):
    global i
    a= cat_name +' '+ "Product"+' '+str(i)
    i += 1
    if (i == 3000):
        i = 1
    return a


frame1['product_name']=frame1.product_category_name_english.apply(gen_product_names,product_id=frame1.product_id)
frame1

,product_id,product_name,product_category_name_english,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,review_score
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery Product 84,perfumery,300.0,20.0,16.0,16.0,101.650000,5.000000
1,005030ef108f58b46b78116f754d8d38,perfumery Product 85,perfumery,50.0,16.0,5.0,11.0,14.759231,4.615385
2,009c09f439988bc06a93d6b8186dce73,perfumery Product 86,perfumery,150.0,20.0,20.0,20.0,132.400000,5.000000
3,00baba5b58e274d0332a0c8a0a66f877,perfumery Product 87,perfumery,200.0,18.0,7.0,12.0,47.900000,4.166667
4,00c3e35b00dd00ab864d4a94c1b97e66,perfumery Product 88,perfumery,512.0,30.0,12.0,18.0,99.990000,5.000000
...,...,...,...,...,...,...,...,...,...
32946,ab0a97f604550b5b5b99180a6dc04461,tablets_printing_image Product 41,tablets_printing_image,150.0,60.0,11.0,11.0,14.900000,4.000000
32947,b29c1749f99da888ea322a01420d5220,tablets_printing_image Product 42,tablets_printing_image,1100.0,30.0,5.0,22.0,889.990000,1.000000
32948,fa9d34c32a70b4e50a4c2c8c2c42051f,tablets_printing_image Product 43,tablets_printing_image,100.0,16.0,6.0,14.0,29.990000,5.000000
32949,6c7a0a349ad11817745e3ad58abd5c79,security_and_services Product 44,security_and_services,1225.0,27.0,35.0,15.0,183.290000,4.000000
32950,8db75af9aed3315374db44d7860e25da,security_and_services Product 45,security_and_services,400.0,26.0,22.0,11.0,100.000000,1.000000

In [250]:
frame1 = frame1[['product_id','product_name','product_category_name_english','product_weight_g','product_length_cm','product_height_cm','product_width_cm','price','review_score']]
frame1

,product_id,product_name,product_category_name_english,product_weight_g,product_length_cm,product_height_cm,product_width_cm,price,review_score
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery Product 84,perfumery,300.0,20.0,16.0,16.0,101.650000,5.000000
1,005030ef108f58b46b78116f754d8d38,perfumery Product 85,perfumery,50.0,16.0,5.0,11.0,14.759231,4.615385
2,009c09f439988bc06a93d6b8186dce73,perfumery Product 86,perfumery,150.0,20.0,20.0,20.0,132.400000,5.000000
3,00baba5b58e274d0332a0c8a0a66f877,perfumery Product 87,perfumery,200.0,18.0,7.0,12.0,47.900000,4.166667
4,00c3e35b00dd00ab864d4a94c1b97e66,perfumery Product 88,perfumery,512.0,30.0,12.0,18.0,99.990000,5.000000
...,...,...,...,...,...,...,...,...,...
32946,ab0a97f604550b5b5b99180a6dc04461,tablets_printing_image Product 41,tablets_printing_image,150.0,60.0,11.0,11.0,14.900000,4.000000
32947,b29c1749f99da888ea322a01420d5220,tablets_printing_image Product 42,tablets_printing_image,1100.0,30.0,5.0,22.0,889.990000,1.000000
32948,fa9d34c32a70b4e50a4c2c8c2c42051f,tablets_printing_image Product 43,tablets_printing_image,100.0,16.0,6.0,14.0,29.990000,5.000000
32949,6c7a0a349ad11817745e3ad58abd5c79,security_and_services Product 44,security_and_services,1225.0,27.0,35.0,15.0,183.290000,4.000000
32950,8db75af9aed3315374db44d7860e25da,security_and_services Product 45,security_and_services,400.0,26.0,22.0,11.0,100.000000,1.000000

In [251]:
frame1.to_csv('database_f.csv',index=False)