In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv('olist_order_items_dataset.csv')
dataset.head(100)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
95,0035246a40f520710769010f752e7507,1,8a6187b2665118d5095f99a25fd7ba7a,4a3ca9315b744ce9f8e9374361493884,2017-08-23 01:25:39,87.00,12.11
96,0035c0b07126fe9c24a325216fb96064,1,ec02a5d380128f7a188e9ce8f3ddd832,8444e55c1f13cd5c179851e5ca5ebd00,2017-12-12 01:29:45,131.90,18.54
97,0035e6b7ade84b3f5b86bd49814793df,1,71a5f1c2a5fd9889ef26b5ac22aec9c6,537eb890efff034a88679788b647c564,2018-02-27 03:31:08,19.90,14.10
98,0036757472ece3dde52fd4bfd929c90e,1,4c1bbc12438daec98a77243c2bf7a3ba,7c67e1448b00f6e969d365cea6b010ab,2018-08-08 15:10:11,136.99,66.04
99,0036887767dea4bd43b1a88cd0d9477a,1,3a264b078bf20e98f315ff65c23fa263,46dc3b2cc0980fb8ec44634e21d2718e,2017-10-19 01:07:30,399.99,23.64

In [4]:
dataset0 = pd.read_csv('olist_order_reviews_dataset.csv')
dataset0.head(100)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
95,71bc170a5ad41ee9dee95f82a17860a8,a90b081d0efa436e072d5328ecd904a4,5,NaN,NaN,2017-08-03 00:00:00,2017-08-03 23:40:22
96,c5be8de5421e658a45042d6ca6a4ff64,61665389f0cccf5ec8135e3b05efc714,5,NaN,NaN,2017-12-12 00:00:00,2017-12-13 22:58:34
97,0c8b57ea62de568f13a0e101d344977e,41bc5a3d34a8e4ef91b2e7d9500694cf,5,NaN,NaN,2017-07-12 00:00:00,2017-07-13 01:02:28
98,edfbad2944ea758725486c3bbcd04f49,9d2aa61b374fac5dd063f36fefa602e1,3,NaN,NaN,2018-03-28 00:00:00,2018-03-31 03:25:49
99,bbf6c18e7c5a88b6adcb69af3b971207,828a705e0645673b538e803ca75a29b6,5,NaN,NaN,2017-10-31 00:00:00,2017-11-06 18:43:24

In [22]:
dataset1= pd.merge(dataset0[['order_id','review_score']],dataset[['order_id','product_id']])
dataset1 = dataset1.drop_duplicates()
x = dataset1[['product_id','review_score']]
x = x.groupby('product_id',sort=False)['review_score'].mean()
Data = pd.DataFrame(x)
Data.rename(columns= {'review_score' : 'average_socre' })

                                  average_socre
product_id
fd25ab760bfbba13c198fa3b4f1a0cd3       4.666667
be0dbdc3d67d55727a65d4cd696ca73c       3.764706
d1c427060a0f73f6b889a5c7c61f2ac4       4.213622
52c80cedd4e90108bf4fa6a206ef6b03       4.157895
3880d25d502b15b1de6fddc42ad1d67a       5.000000
...                                         ...
2381a3052dd37f97e616bf160467acae       5.000000
6e29f8de1ad465c1fa275aae299fa98b       5.000000
6160c6145b50c401702912baf0fd7de5       5.000000
4fb209073dc2ab6a6d3c259a7c285501       5.000000
54caa022e792f1ce31d4a656cecaa802       1.000000

[32951 rows x 1 columns]