In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('olist_products_dataset.csv')
df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [3]:
df[df.product_id=='0d009643171aee696f4733340bc2fdd0']

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
77,0d009643171aee696f4733340bc2fdd0,perfumaria,52.0,150.0,1.0,422.0,21.0,16.0,18.0

In [4]:
df1=pd.read_csv('product_category_name_translation.csv')
df1.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [5]:
#merging df and df1
df = pd.merge(df,df1)
df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,39.0,346.0,2.0,400.0,27.0,5.0,20.0,perfumery
2,0d009643171aee696f4733340bc2fdd0,perfumaria,52.0,150.0,1.0,422.0,21.0,16.0,18.0,perfumery
3,b1eae565a61935e0011ee7682fef9dc9,perfumaria,49.0,460.0,2.0,267.0,17.0,13.0,17.0,perfumery
4,8da90b37f0fb171b4877c124f965b1f6,perfumaria,56.0,733.0,3.0,377.0,18.0,13.0,15.0,perfumery

In [6]:
df=df[['product_id','product_category_name','product_category_name_english','product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm']]
df.head()

,product_id,product_category_name,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,perfumery,39.0,346.0,2.0,400.0,27.0,5.0,20.0
2,0d009643171aee696f4733340bc2fdd0,perfumaria,perfumery,52.0,150.0,1.0,422.0,21.0,16.0,18.0
3,b1eae565a61935e0011ee7682fef9dc9,perfumaria,perfumery,49.0,460.0,2.0,267.0,17.0,13.0,17.0
4,8da90b37f0fb171b4877c124f965b1f6,perfumaria,perfumery,56.0,733.0,3.0,377.0,18.0,13.0,15.0

In [7]:
g=df.groupby('product_category_name_english')

In [42]:
g.size()

product_category_name_english
agro_industry_and_commerce                   74
air_conditioning                            124
art                                          55
arts_and_craftmanship                        19
audio                                        58
auto                                       1900
baby                                        919
bed_bath_table                             3029
books_general_interest                      216
books_imported                               31
books_technical                             123
cds_dvds_musicals                             1
christmas_supplies                           65
cine_photo                                   28
computers                                    30
computers_accessories                      1639
consoles_games                              317
construction_tools_construction             400
construction_tools_lights                    78
construction_tools_safety                    91
cool_stuff                                  789
costruction_tools_garden                     88
costruction_tools_tools                      39
diapers_and_hygiene                          12
drinks                                       81
dvds_blu_ray                                 48
electronics                                 517
fashio_female_clothing                       27
fashion_bags_accessories                    849
fashion_childrens_clothes                     5
                                           ...
furniture_mattress_and_upholstery            10
garden_tools                                753
health_beauty                              2444
home_appliances                             370
home_appliances_2                            90
home_comfort_2                                5
home_confort                                111
home_construction                           225
housewares                                 2335
industry_commerce_and_business               68
kitchen_dining_laundry_garden_furniture      94
la_cuisine                                   10
luggage_accessories                         349
market_place                                104
music                                        27
musical_instruments                         289
office_furniture                            309
party_supplies                               26
perfumery                                   868
pet_shop                                    719
security_and_services                         2
signaling_and_security                       93
small_appliances                            231
small_appliances_home_oven_and_coffee        31
sports_leisure                             2867
stationery                                  849
tablets_printing_image                        9
telephony                                  1134
toys                                       1411
watches_gifts                              1329
Length: 71, dtype: int64

In [9]:
df.to_csv ("new_products.csv",index=False)
df['product_id'][1]

'6a2fb4dd53d2cdb88e0432f1284a004c'

In [8]:
#a=cat_name +' '+ "Product"+' '+str(product_id[i])
i=1 #after assingnig global keyword now you can modify the value otherwise you can only use it
def gen_product_names(cat_name,product_id):
    global i 
    a=cat_name +' '+ "Product"+' '+str(i)
    i=i+1
    return a


df['product_name']=df.product_category_name_english.apply(gen_product_names,product_id=df.product_id)
df.head(1000)

,product_id,product_category_name,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_name
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery Product 1
1,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,perfumery,39.0,346.0,2.0,400.0,27.0,5.0,20.0,perfumery Product 2
2,0d009643171aee696f4733340bc2fdd0,perfumaria,perfumery,52.0,150.0,1.0,422.0,21.0,16.0,18.0,perfumery Product 3
3,b1eae565a61935e0011ee7682fef9dc9,perfumaria,perfumery,49.0,460.0,2.0,267.0,17.0,13.0,17.0,perfumery Product 4
4,8da90b37f0fb171b4877c124f965b1f6,perfumaria,perfumery,56.0,733.0,3.0,377.0,18.0,13.0,15.0,perfumery Product 5
...,...,...,...,...,...,...,...,...,...,...,...
995,cb57afec681197430ddab41d90304aba,esporte_lazer,sports_leisure,55.0,416.0,1.0,400.0,22.0,5.0,20.0,sports_leisure Product 996
996,003128f981470c3e5a2e7445e4a771cd,esporte_lazer,sports_leisure,59.0,1100.0,6.0,1550.0,16.0,10.0,16.0,sports_leisure Product 997
997,8058b0067728a211c68874081e7352d4,esporte_lazer,sports_leisure,56.0,1720.0,1.0,1000.0,20.0,20.0,14.0,sports_leisure Product 998
998,45af837344fa95e1fb3a840e9ffd8bf4,esporte_lazer,sports_leisure,49.0,515.0,1.0,550.0,27.0,25.0,25.0,sports_leisure Product 999
999,1ed390fc2e1df06251341c288d315eea,esporte_lazer,sports_leisure,56.0,1236.0,1.0,4350.0,20.0,20.0,20.0,sports_leisure Product 1000